html {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif; }
/* Styling for Header */
nav.container {
    display: flex;
    padding: 15px;
    justify-content:space-around;
}
nav > img {
    height:50px;
}
.links > li {
    display:inline-flex;
    padding:0 15px 0 15px;
}

a, a:hover, a:visited, a:active  {
    text-decoration: none;
    list-style-type: none;
    color:#e5e7eb;
}
/* Styling for main div */
div {
    display:flex;
}
.main {
    display:inline-flex;
    flex-direction: column;
    align-items:flex-start;
    width: 25%;

}
.main > h1 {

    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
#intro {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}
.image {
    display: inline-flex; 
}
.image > img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
}
.outer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}
.button {
    background-color: #3882f6;
    border-radius: 6px;
    color: #e5e7e5;
    text-align: center;
    border: none;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
}
.information {
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.flavors > img {
    flex-direction: row;
    max-height: 150px;
    max-width: 100%;
    border-radius: 50px;
    padding: 2%;
    border: 4px solid rgba(56,130,246,.7);
    
}
.image-and-description {
    background-color: white;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.flavors{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}
.caption {
    width: 50%;
    color: #8c8d8f;

}
.quote {
    background-color: #e5e7eb;
    flex-wrap:wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
}
em {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    height: 100%;
    width: 50%;
    padding: 100px;
}